<ion-view view-title="Now Playing">

  <ion-content class="padding">
      <form>
      <div class="item item-body">   

<!-- Movie Reel and Movie -->
        <div class="container">
        <ul class="left">
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
        </ul>
        <div class="middle">
           <center>
          <img id="movie_preview" src="">
          </center>
          </div>
            <ul class="right">
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
           <li class="reel-item"></li>
        </ul>
        </div>



<div class="response">
  <div class="snack_loader"></div>
  <center>
  <p>
<label for="movieSelect"><h3>Enter your movie guess here, then press ENTER.</h3></label>
</p>

<div class="scoreUp"></div>
 <div class="timer">10</div>
<p>
<input type="text" id="movieSelect" value="">
<h2>?????</h2>
 <h4></h4>
</p>
</center>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<center>

 
  <button type="button" class="btn btn-default" id="next-bt">Next Scene</button>
   </center>
  <div id="concession">
    
     <div class="soda"></div>
      <div class="candy"></div>
     <div class="popcorn"></div>
     <div class="peanuts"></div>
     <div class="hotdog"></div>
    
  </div>
 

 
 
</div>
</form>
        </div>
      </div>
    </div>
  <!--   <div class="list card">
      <div class="item item-divider">Find a Movie Theatre</div>
      <div class="item item-body">
        <div>
        //Google Maps---Movie Marker
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming Movies</div>
      <div class="item item-body">
        <div>
        Movies Coming Soon!
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
<script src="../js/movie.js"></script>
